<section class="crp-sheet">

<header class="crp-header">

  <!-- PORTRET -->
  <div class="crp-portrait">
    <img src="{{document.img}}" data-edit="img">
  </div>

  <!-- ŚRODEK -->
  <div class="crp-header-main">
      <h1 class="crp-name" contenteditable="true" data-edit="name">{{document.name}}</h1>


<div class="crp-stats">

  <div class="crp-stat">
          <label>Zdrowie</label>



          <div class="crp-health-values">
            <input type="number" 
                   data-path="system.derived.health.value"
                   value="{{system.derived.health.value}}">
            / {{system.derived.health.max}}
          </div>
                    <div class="crp-health-bar">
            <div class="crp-health-fill {{system.derived.woundState}}"
                 style="width: {{system.derived.health.percent}}%;">
            </div>
          </div>

  </div>

  <div class="crp-stat">
    <label>Dola</label>
    <div class="crp-stat-value">
      {{system.resources.fate.value}}
    </div>
  </div>

    <div class="crp-stat">
    <label>Manewry</label>
    <div class="crp-stat-value">
      {{system.derived.maneuver}}
    </div>
  </div>

  <div class="crp-stat">
    <label>Inicjatywa</label>
    <div class="crp-stat-value">
      {{system.derived.initiative}}
    </div>
    <button class="crp-roll-initiative">Rzuć</button>
  </div>

  <div class="crp-stat">
    <label>Siła woli</label>
    <div class="crp-stat-value">
      {{system.derived.willpower}}
    </div>
      <button class="crp-roll-willpower">
    Rzuć
  </button>
  </div>



</div>


    </div>
  <!-- TOKEN -->
  <div class="crp-token">
    <img src="{{tokenImg}}" data-edit="token">
  </div>

</header>

  <section class="crp-attributes">
    {{#each attributesList}}
      <div class="crp-attr">

        <h2>{{this.label}}</h2>

        <input type="number"
               class="crp-attr-value"
               min="0"
               max="10"
               data-path="system.attributes.{{this.key}}.value"
               value="{{this.value}}">

<div class="crp-skills">
  {{#each this.skills as |skill|}}

    
    <div class="crp-skill"
     data-attr="{{../key}}"
     data-skill="{{skill.key}}" 
     title="{{skill.label}}" >

  <span class="crp-skill-label">
    {{skill.label}}
  </span>

  <input type="number"
         class="crp-skill-value"
         min="0"
         max="10"
         data-path="system.attributes.{{../key}}.skills.{{skill.key}}.value"
         value="{{skill.value}}">

  <div class="crp-skill-total">
    {{skill.total}}
  </div>

</div>

  {{/each}}
</div>

      </div>
    {{/each}}






<div class="crp-equipment">

  <!-- PRAWA RĘKA -->
  <div class="crp-eq-slot" data-slot="rightHand">
    <div class="crp-eq-header">Prawa ręka</div>

    {{#if document.system.equipment.rightHand.id}}
      <div class="crp-item-row">
        <img src="{{document.system.equipment.rightHand.img}}" class="crp-item-img">
        <span>{{document.system.equipment.rightHand.name}}</span>
            <button class="crp-slot-clear" data-slot="rightHand">
      ✖
    </button>
      </div>
    {{else}}
      <div class="crp-empty">—</div>
    {{/if}}

  </div>

  <!-- LEWA RĘKA -->
  <div class="crp-eq-slot" data-slot="leftHand">
    <div class="crp-eq-header">Lewa ręka</div>

    {{#if document.system.equipment.leftHand.id}}
      <div class="crp-item-row">
        <img src="{{document.system.equipment.leftHand.img}}" class="crp-item-img">
        <span>{{document.system.equipment.leftHand.name}}</span>
            <button class="crp-slot-clear" data-slot="leftHand">
      ✖
    </button>
      </div>
    {{else}}
      <div class="crp-empty">—</div>
    {{/if}}

  </div>

  <!-- PANCERZ -->
  <div class="crp-eq-slot" data-slot="armor">
    <div class="crp-eq-header">Pancerz</div>

    {{#if document.system.equipment.armor.id}}
      <div class="crp-item-row">
        <img src="{{document.system.equipment.armor.img}}" class="crp-item-img">
        <span>{{document.system.equipment.armor.name}}</span>
            <button class="crp-slot-clear" data-slot="armor">
      ✖
    </button>
      </div>
    {{else}}
      <div class="crp-empty">—</div>
    {{/if}}

  </div>

</div>







<div class="crp-fullwidth">

  <div class="crp-inventory">
    
    <h2 class="crp-section-header">Broń</h2>
    <div class="crp-item-list">
      {{#each document.items as |item|}}
        {{#if (eq item.type "weapon")}}
          <div class="crp-item-row" draggable="true" data-item-id="{{item.id}}">
            <img src="{{item.img}}" class="crp-item-img">
            <div class="crp-item-name">{{item.name}}</div>
              <button type="button" class="crp-item-delete" data-item-id="{{item.id}}">
    ✖
  </button>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

  <div class="crp-inventory-section">
    <h2 class="crp-section-header">Zbroja</h2>
    <div class="crp-item-list">
      {{#each document.items as |item|}}
        {{#if (eq item.type "armor")}}
          <div class="crp-item-row" draggable="true" data-item-id="{{item.id}}">
            <img src="{{item.img}}" class="crp-item-img">
            <div class="crp-item-name">{{item.name}}</div>
              <button type="button" class="crp-item-delete" data-item-id="{{item.id}}">
    ✖
  </button>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

    <div class="crp-inventory-section">
    <h2 class="crp-section-header">Tarcza</h2>
    <div class="crp-item-list">
      {{#each document.items as |item|}}
        {{#if (eq item.type "shield")}}
          <div class="crp-item-row" draggable="true" data-item-id="{{item.id}}">
            <img src="{{item.img}}" class="crp-item-img">
            <div class="crp-item-name">{{item.name}}</div>
              <button type="button" class="crp-item-delete" data-item-id="{{item.id}}">
    ✖
  </button>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>


  <div class="crp-inventory-section">
    <h2 class="crp-section-header">Inne</h2>
    <div class="crp-item-list">
      {{#each document.items as |item|}}
        {{#unless (or (eq item.type "weapon") (eq item.type "armor") (eq item.type "shield"))}}
          <div class="crp-item-row" draggable="true" data-item-id="{{item.id}}">
            <img src="{{item.img}}" class="crp-item-img">
            <div class="crp-item-name">{{item.name}}</div>
              <button type="button" class="crp-item-delete" data-item-id="{{item.id}}">
    ✖
  </button>
          </div>
        {{/unless}}
      {{/each}}
    </div>
  </div>

</div>
  </section>

</section>