<section class="crp-sheet">

<header class="crp-header">

  <!-- PORTRET -->
  <div class="crp-portrait">
    <img src="{{document.img}}" data-edit="img">
  </div>

  <!-- ŚRODEK -->
  <div class="crp-header-main">
      <h1 class="crp-name" contenteditable="true" data-edit="name">{{document.name}}</h1>

      <div class="crp-resources">

        
        <div class="crp-resource">
          <label>Zdrowie</label>



          <div class="crp-health-values">
            <input type="number"
                   data-path="system.derived.health.value"
                   value="{{system.derived.health.value}}">
            / {{system.derived.health.max}}
          </div>
                    <div class="crp-health-bar">
            <div class="crp-health-fill {{system.derived.woundState}}"
                 style="width: {{system.derived.health.percent}}%;">
            </div>
          </div>

        </div>

    <div>Dola: {{system.resources.fate.value}}</div>
    <div>Inicjatywa: {{system.derived.initiative}}</div>
    <div>Siła woli: {{system.derived.willpower}}</div>
    <div>Manewry: {{system.derived.maneuver}}</div>


      </div>
    </div>
  <!-- TOKEN -->
  <div class="crp-token">
    <img src="{{tokenImg}}" data-edit="token">
  </div>

</header>

  <section class="crp-attributes">
    {{#each attributesList}}
      <div class="crp-attr">

        <h2>{{this.label}}</h2>

        <input type="number"
               class="crp-attr-value"
               min="0"
               max="10"
               data-path="system.attributes.{{this.key}}.value"
               value="{{this.value}}">

<div class="crp-skills">
  {{#each this.skills as |skill|}}

    
    <div class="crp-skill"
     data-attr="{{../key}}"
     data-skill="{{skill.key}}" 
     title="{{skill.label}}" >

  <span class="crp-skill-label">
    {{skill.label}}
  </span>

  <input type="number"
         class="crp-skill-value"
         min="0"
         max="10"
         data-path="system.attributes.{{../key}}.skills.{{skill.key}}.value"
         value="{{skill.value}}">

  <div class="crp-skill-total">
    {{skill.total}}
  </div>

</div>

  {{/each}}
</div>

      </div>
    {{/each}}


<h2>Ręce</h2>

<div class="crp-attack-slot" data-drop="attack">

{{#if attackWeapon}}

  <div class="crp-attack-card" data-item-id="{{attackWeapon.id}}">

    <img src="{{attackWeapon.img}}" class="crp-weapon-img">

    <div class="crp-attack-info">
      <div><b>{{attackWeapon.name}}</b></div>
      <div>⚔ {{attackWeapon.system.damage}}</div>
      <div>🎯 {{attackWeapon.system.accuracy}}</div>
      <div>{{lookup ../config.skills attackWeapon.system.skill}}</div>
    </div>

    <button class="crp-attack-remove">✖</button>

  </div>

{{else}}

  <div class="crp-attack-empty">
    Przeciągnij broń tutaj
  </div>

{{/if}}
</div>
<h2>Pancerz</h2>

<div class="crp-attack-slot crp-armor-slot">

  {{#if equippedArmor}}
    <div class="crp-attack-card" data-item-id="{{equippedArmor.id}}">
      <button class="crp-attack-remove">✖</button>
      <img src="{{equippedArmor.img}}" class="crp-weapon-img">

      <div class="crp-attack-info">
        <div>{{equippedArmor.name}}</div>
        <div>Redukcja: {{equippedArmor.system.reduction}}</div>
      </div>
    </div>
  {{else}}
    <div class="crp-attack-empty">
      Przeciągnij zbroję tutaj
    </div>
  {{/if}}

</div>

<br>

<h2>Ekwipunek</h2>

<div class="crp-equipment">

  <!-- BROŃ -->
  <h3>Broń</h3>
  <div class="crp-weapons">

    {{#each items}}
      {{#if (eq this.type "weapon")}}

        <div class="crp-weapon-row {{#if this.system.equipped}}equipped{{/if}}" data-item-id="{{this.id}}" draggable="true">

          <img src="{{this.img}}" class="crp-weapon-img">

          <div class="crp-weapon-name">{{this.name}}</div>

          <div class="crp-weapon-dmg">
            {{this.system.damage}}
          </div>

          <button class="crp-weapon-delete" data-item-id="{{this.id}}">
            ✖
          </button>

        </div>

      {{/if}}
    {{/each}}

  </div>

  <!-- ZBROJE -->
  <h3>Zbroje</h3>
  <div class="crp-weapons">

    {{#each items}}
      {{#if (eq this.type "armor")}}

        <div class="crp-weapon-row {{#if this.system.equipped}}equipped{{/if}}" data-item-id="{{this.id}}" draggable="true">

          <img src="{{this.img}}" class="crp-weapon-img">

          <div class="crp-weapon-name">{{this.name}}</div>

          <div class="crp-weapon-dmg">
            {{this.system.reduction}}
          </div>

          <button class="crp-weapon-delete" data-item-id="{{this.id}}">
            ✖
          </button>

        </div>

      {{/if}}
    {{/each}}

  </div>

</div>

  </section>

</section>