<section class="crp-item">

  <!-- HEADER -->
  <div class="crp-item-header">

    <!-- LEWA STRONA -->
       <div class="crp-item-left">
      <h1 contenteditable="true" data-edit="name">
        {{item.name}}
      </h1>
    </div>

    <!-- PRAWA STRONA -->
    <div class="crp-item-img-large">
      <img src="{{item.img}}" data-edit="img">
    </div>

  </div>

  <!-- OPIS -->
  <div class="crp-item-description">
    <textarea data-path="system.description">{{system.description}}</textarea>
  </div>

  <hr>

  <!-- PARAMETRY -->
  <div class="crp-form">

    <label>Redukcja pancerza</label>
    <input type="number" data-path="system.protection" value="{{system.protection}}">

    <label>Waga</label>
    <select data-path="system.weight">
      {{#each config.itemWeights as |label key|}}
        <option value="{{key}}" {{#if (eq key ../itemWeight)}}selected{{/if}}>{{label}}</option>
      {{/each}}
    </select>

    <label>Wytrzymałość aktualna</label>
    <input type="number"
           data-path="system.durability.value"
           value="{{system.durability.value}}">

    <label>Wytrzymałość całkowita</label>
    <input type="number"
           data-path="system.durability.max"
           value="{{system.durability.max}}">


           <hr>

<div class="crp-price-section">

  <div class="crp-price-header">
    Cena:
    <span class="crp-price-summary">
      {{formattedPrice}}
    </span>
  </div>

  <div class="crp-price-grid">

    <div class="crp-price-row">
      <label>Floreny</label>
      <input
        type="number"
        min="0"
        value="{{system.price.floren}}"
        data-path="system.price.floren">
    </div>

    <div class="crp-price-row">
      <label>Grzywny</label>
      <input
        type="number"
        min="0"
        value="{{system.price.grzywna}}"
        data-path="system.price.grzywna">
    </div>

    <div class="crp-price-row">
      <label>Skojce</label>
      <input
        type="number"
        min="0"
        value="{{system.price.skojec}}"
        data-path="system.price.skojec">
    </div>

    <div class="crp-price-row">
      <label>Grosze</label>
      <input
        type="number"
        min="0"
        value="{{system.price.grosz}}"
        data-path="system.price.grosz">
    </div>

    <div class="crp-price-row">
      <label>Kwartniki</label>
      <input
        type="number"
        min="0"
        value="{{system.price.kwartnik}}"
        data-path="system.price.kwartnik">
    </div>

    <div class="crp-price-row">
      <label>Denary</label>
      <input
        type="number"
        min="0"
        value="{{system.price.denar}}"
        data-path="system.price.denar">
    </div>

    <div class="crp-price-row">
      <label>Obole</label>
      <input
        type="number"
        min="0"
        value="{{system.price.obol}}"
        data-path="system.price.obol">
    </div>

  </div>

</div>

  </div>

</section>
