<section class="crp-item">

  <!-- HEADER -->
  <div class="crp-item-header">

    <!-- LEWA STRONA -->
       <div class="crp-item-left">
      <h1 contenteditable="true" data-edit="name">
        {{item.name}}
      </h1>
    </div>

    <!-- PRAWA STRONA -->
    <div class="crp-item-img-large">
      <img src="{{item.img}}" data-edit="img">
    </div>

  </div>

  <!-- OPIS -->
  <div class="crp-item-description">
    <textarea data-path="system.description">{{system.description}}</textarea>
  </div>

  <hr>

  <!-- PARAMETRY -->
  <div class="crp-form">

    <label>Waga</label>
    <select data-path="system.weight">
      {{#each config.itemWeights as |label key|}}
        <option value="{{key}}" {{#if (eq key ../itemWeight)}}selected{{/if}}>{{label}}</option>
      {{/each}}
    </select>

  </div>

</section>
